---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`} target="_blank" rel="noopener noreferrer"><i class={`fa-brands fa-${platform}`}></i></a>

<style>
    a {
      font-size: 30px;
      color: black;
      margin: 10px;
      transition: color 0.2s ease;
    }

    a:hover {
      color: rgb(48, 48, 157);
    }
  </style>